public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Plan and limits :: Frontend pack</title>
    <!--
    link(rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
    link(rel="manifest" href="assets/site.webmanifest")
    link(rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#ffffff")
    link(rel="shortcut icon" href="assets/favicon.ico")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-config" content="assets/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    
    -->
    <meta name="description" content="Description">
    <meta property="og:url" content="https://">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Plan and limits">
    <meta property="twitter:title" content="Plan and limits">
    <meta property="og:description" content="description">
    <meta property="twitter:description" content="description">
    <meta property="og:image" content="assets/share.png">
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body class="body dev js-body">
    <div class="content">
      <div class="container">
        <div class="wrapper"> 
          <aside class="wrapper__aside" id="menu"> 
            <div class="wrapper__nav"> 
              <nav class="nav"> 
                <div class="nav__close close js-nav-close"></div>
                <div class="nav__block"> 
                  <div class="nav__title text-uppercase">Personal</div>
                  <ul class="nav__list"> 
                    <li class="nav__item"> <a class="nav__link" href="#">Profile</a></li>
                    <li class="nav__item"> <a class="nav__link" href="#">Security</a></li>
                    <li class="nav__item"> <a class="nav__link" href="#">Notifications</a></li>
                  </ul>
                </div>
                <div class="nav__block"> 
                  <div class="nav__title _mb17 text-uppercase">Tesla s.r.L.</div>
                  <ul class="nav__list"> 
                    <li class="nav__item"> <a class="nav__link" href="#">Business profile</a></li>
                    <li class="nav__item"> <a class="nav__link" href="#">E-invoicing</a></li>
                    <li class="nav__item"> <a class="nav__link _active" href="#">Plan and limits</a></li>
                    <li class="nav__item"> <a class="nav__link" href="#">Team</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </aside>
          <main class="wrapper__main">
            <section class="wrapper__section">
              <div class="wrapper__block">
                <div class="wrapper__pull" id="pull">
                  <div class="pull"> 
                    <div> </div>
                    <div> </div>
                    <div></div>
                  </div>
                </div>
                <div class="plan">
                  <div class="plan__title-block">
                    <h1 class="plan__title">Invoicing Start</h1>
                    <button class="plan__change-btn text-nowrap" id="changeBtn">Change plan</button>
                  </div>
                  <div class="plan__price"> 
                    <div class="plan__price-text"> <span class="js-price">6,99 </span> € <span class="plan__price-text _gray">/mo</span></div>
                  </div>
                  <div class="plan__description"> 
                    <div class="plan__description-text">We’ll charge <span class="js-price">6,99 </span> € on Jul  24, 2020</div>
                    <div class="plan__description-link-wrapper"> <a class="plan__description-link" href="#">Change card *** 5423  or billing info</a></div>
                  </div>
                  <div class="plan__actions"> 
                    <div class="plan__btn-wrapper"> 
                      <button class="button">Switch to annual plan </button>
                    </div>
                    <div class="plan__btn-description">and save 24,00 € a year</div>
                  </div>
                </div>
                <div class="features">
                  <div class="features__head"> 
                    <h2 class="features__title">Explore new features</h2>
                    <picture class="features__icon-wrapper"> 
                      <source type="image/webp" srcset="assets/img/dizzy.webp">
                      <source type="image/png" srcset="assets/img/dizzy.png"><img class="lazyload features__icon" src="assets/img/dizzy.png" alt="dizzy" title="dizzy">
                    </picture>
                  </div>
                  <div class="features__premium premium js-premium">
                    <div class="premium__content">
                      <div class="premium__close close js-premium-close"></div>
                      <div class="premium__left"> 
                        <h3 class="premium__title">Invoicing Premium</h3>
                        <ul class="premium__list"> 
                          <li class="premium__item">Unlimited outgoing e-invoices</li>
                          <li class="premium__item">Unlimited connected banks</li>
                          <li class="premium__item">10 users</li>
                          <li class="premium__item">Expense management</li>
                        </ul>
                      </div>
                      <div class="premium__right">
                        <div class="premium__price"> 
                          <div class="premium__price-text">€20.99 <span class="premium__price-text _small">/mo</span></div>
                        </div>
                        <div class="premium__description">billed annually or 24.99 € billed monthly</div>
                        <button class="premium__btn button _red">Upgrade</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="wrapper__section">
              <div class="wrapper__block">
                <div class="tabs" id="tabs">
                  <div class="tabs__head">
                    <ul class="tabs__nav">
                      <li class="tabs__nav-item"> <a class="tabs__nav-link js-tabs__trigger _active" href="#limits" data-href="#limits">Limits</a></li>
                      <li class="tabs__nav-item"> <a class="tabs__nav-link js-tabs__trigger" href="#invoices" data-href="#invoices">Invoices</a></li>
                    </ul>
                  </div>
                  <div class="tabs__tabs js-tabs__wrapper">
                    <div class="tabs__tab js-tabs__target" id="limits">
                      <div class="tabs__item mark">
                        <div class="mark__head"> 
                          <div class="mark__title">Team members</div>
                          <div class="mark__count"> <span class="mark__count-actual">3 </span><span class="mark__count-top">/ 6</span></div>
                        </div>
                        <div class="mark__progressbar"> 
                          <div class="mark__progressbar-line js-progressbar" data-width="50"></div>
                        </div>
                        <div class="mark__description">Need more members? <a class="mark__description-link" href="#">Upgrade your plan</a></div>
                      </div>
                      <div class="tabs__item mark">
                        <div class="mark__head"> 
                          <div class="mark__title">Outgoing e-invoices</div>
                          <div class="mark__count"> <span class="mark__count-top">Unlimited</span></div>
                        </div>
                        <div class="mark__progressbar"> 
                          <div class="mark__progressbar-line js-progressbar" data-width="100"></div>
                        </div>
                        <div class="mark__description">Send as many e-invoices as you want</div>
                      </div>
                      <div class="tabs__item mark">
                        <div class="mark__head"> 
                          <div class="mark__title">Connected sources (banks)</div>
                          <div class="mark__count"> <span class="mark__count-actual">5 </span><span class="mark__count-top">/ 5</span></div>
                        </div>
                        <div class="mark__progressbar"> 
                          <div class="mark__progressbar-line _red js-progressbar" data-width="100"></div>
                        </div>
                        <div class="mark__description">Need more banks to connect? <a class="mark__description-link" href="#">Upgrade your plan</a></div>
                      </div>
                    </div>
                    <div class="tabs__tab js-tabs__target" id="invoices">
                      <div class="tabs__item mark">
                        <div class="mark__head"> 
                          <div class="mark__title">Team members</div>
                          <div class="mark__count"> <span class="mark__count-actual">2 </span><span class="mark__count-top">/ 6</span></div>
                        </div>
                        <div class="mark__progressbar"> 
                          <div class="mark__progressbar-line js-progressbar" data-width="30"></div>
                        </div>
                        <div class="mark__description">Need more members? <a class="mark__description-link" href="#">Upgrade your plan</a></div>
                      </div>
                      <div class="tabs__item mark">
                        <div class="mark__head"> 
                          <div class="mark__title">Outgoing e-invoices</div>
                          <div class="mark__count"> <span class="mark__count-top">Unlimited</span></div>
                        </div>
                        <div class="mark__progressbar"> 
                          <div class="mark__progressbar-line js-progressbar" data-width="100"></div>
                        </div>
                        <div class="mark__description">Send as many e-invoices as you want</div>
                      </div>
                      <div class="tabs__item mark">
                        <div class="mark__head"> 
                          <div class="mark__title">Connected sources (banks)</div>
                          <div class="mark__count"> <span class="mark__count-actual">4 </span><span class="mark__count-top">/ 6</span></div>
                        </div>
                        <div class="mark__progressbar"> 
                          <div class="mark__progressbar-line _red js-progressbar" data-width="66"></div>
                        </div>
                        <div class="mark__description">Need more banks to connect? <a class="mark__description-link" href="#">Upgrade your plan</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="assets/css/common.css?v=1.2.4">
    <script>
      /* изменяемые настройки скриптов, указаны значения по умолчанию */
      var appConfig = {
          /*
          scrollToOffset: 150, // оффсет при скролле до элемента
          scrollToSpeed: 500, // скорость скролла 
          */
      }
    </script>
    <script src="assets/js/vendors~main.bundle.js"></script>
    <script src="assets/js/main.bundle.js?v=1.2.4"></script>
  </body>
</html>

src/views/index.pug
extends _includes/layout

block config
    - var pagetitle = 'Plan and limits'
    - var bodyClass = 'dev js-body'

block content
    .container
        .wrapper 
            aside#menu.wrapper__aside 
                .wrapper__nav 
                    nav.nav 
                        .nav__close.close.js-nav-close
                        .nav__block 
                            .nav__title.text-uppercase Personal
                            ul.nav__list 
                                li.nav__item 
                                    a.nav__link(href="#") Profile
                                li.nav__item 
                                    a.nav__link(href="#") Security
                                li.nav__item 
                                    a.nav__link(href="#") Notifications
                        .nav__block 
                            .nav__title._mb17.text-uppercase Tesla s.r.L.
                            ul.nav__list 
                                li.nav__item 
                                    a.nav__link(href="#") Business profile
                                li.nav__item 
                                    a.nav__link(href="#") E-invoicing
                                li.nav__item 
                                    a.nav__link._active(href="#") Plan and limits
                                li.nav__item 
                                    a.nav__link(href="#") Team
            main.wrapper__main
                section.wrapper__section
                    .wrapper__block
                        #pull.wrapper__pull
                            .pull 
                                div 
                                div 
                                div
                        .plan
                            .plan__title-block
                                h1.plan__title Invoicing Start
                                button#changeBtn.plan__change-btn.text-nowrap Change plan
                            .plan__price 
                                .plan__price-text 
                                    span.js-price 6,99 
                                    |  € 
                                    span.plan__price-text._gray /mo
                            .plan__description 
                                .plan__description-text We’ll charge 
                                    span.js-price 6,99 
                                    |  € on Jul  24, 2020
                                .plan__description-link-wrapper 
                                    a.plan__description-link(href="#") Change card *** 5423  or billing info
                            .plan__actions 
                                .plan__btn-wrapper 
                                    button.button Switch to annual plan 
                                .plan__btn-description and save 24,00 € a year
                        .features
                            .features__head 
                                h2.features__title Explore new features
                                picture.features__icon-wrapper 
                                    source(type="image/webp" srcset="assets/img/dizzy.webp")
                                    source(type="image/png" srcset="assets/img/dizzy.png")
                                    img.lazyload.features__icon(src="assets/img/dizzy.png" alt="dizzy" title="dizzy")
                            .features__premium.premium.js-premium
                                .premium__content
                                    .premium__close.close.js-premium-close
                                    .premium__left 
                                        h3.premium__title Invoicing Premium
                                        ul.premium__list 
                                            li.premium__item Unlimited outgoing e-invoices
                                            li.premium__item Unlimited connected banks
                                            li.premium__item 10 users
                                            li.premium__item Expense management
                                    .premium__right
                                        .premium__price 
                                            .premium__price-text €20.99 
                                                    span.premium__price-text._small /mo
                                        .premium__description billed annually or 24.99 € billed monthly
                                        button.premium__btn.button._red Upgrade

                section.wrapper__section
                    .wrapper__block
                        #tabs.tabs
                            .tabs__head
                                ul.tabs__nav
                                    li.tabs__nav-item 
                                        a.tabs__nav-link.js-tabs__trigger._active(href="#limits" data-href="#limits") Limits
                                    li.tabs__nav-item 
                                        a.tabs__nav-link.js-tabs__trigger(href="#invoices" data-href="#invoices") Invoices
                            .tabs__tabs.js-tabs__wrapper
                                #limits.tabs__tab.js-tabs__target
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Team members
                                            .mark__count 
                                                span.mark__count-actual 3 
                                                span.mark__count-top / 6
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="50").js-progressbar
                                        .mark__description Need more members? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Outgoing e-invoices
                                            .mark__count 
                                                span.mark__count-top Unlimited
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="100").js-progressbar
                                        .mark__description Send as many e-invoices as you want
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Connected sources (banks)
                                            .mark__count 
                                                span.mark__count-actual 5 
                                                span.mark__count-top / 5
                                        .mark__progressbar 
                                            .mark__progressbar-line._red(data-width="100").js-progressbar
                                        .mark__description Need more banks to connect? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                #invoices.tabs__tab.js-tabs__target
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Team members
                                            .mark__count 
                                                span.mark__count-actual 2 
                                                span.mark__count-top / 6
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="30").js-progressbar
                                        .mark__description Need more members? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Outgoing e-invoices
                                            .mark__count 
                                                span.mark__count-top Unlimited
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="100").js-progressbar
                                        .mark__description Send as many e-invoices as you want
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Connected sources (banks)
                                            .mark__count 
                                                span.mark__count-actual 4 
                                                span.mark__count-top / 6
                                        .mark__progressbar 
                                            .mark__progressbar-line._red(data-width="66").js-progressbar
                                        .mark__description Need more banks to connect? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                    
